body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: rgb(18, 24, 90);
    min-height: 100vh;  /* Garante que o body ocupe no mínimo 100% da altura da tela */
    display: flex;
    flex-direction: column;
    padding-bottom: 10px; 
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8), 
                 0px 0px 5px rgba(253, 159, 35, 0.9);
}

.container1 {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('jonny1.png');
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: 0;
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 20vw;
    height: 20vw;
    max-width: 250px;
    max-height: 250px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: white;
    top: 20px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: filter 0.3s ease-in-out;
}

/* Ícone do Instagram */
.instagram-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.profile-pic:hover img {
    filter: brightness(0.4); /* Escurece a imagem ao passar o mouse */
}

.profile-pic:hover .instagram-icon {
    opacity: 1; /* Aparece o ícone */
}


.content {
    position: relative;
}

.fontnew {
    font-family: 'Bebas Neue', sans-serif;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.link {
    background-color: #ff9100b3;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.link i {
    position: absolute;
    left: 20px;
    font-size: 1.2em;
    margin-right: 0;
}

.link:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(255, 145, 0, 0.7);
}

.link {
    text-shadow: 2px 2px 10px rgba(56, 21, 255, 0.8), 
                 0px 0px 5px rgba(255, 145, 0, 0.9);
}
